/Cupon.class
/Distance.class
/Flipcoin.class
/Gambler.class
/InputUtility.class
/Leapyear.class
/Permutation.class
/Power.class
/PrimeFactorization.class
/Quadratic.class
/ReplaceUserName.class
/Stopwatch.class
/TicTacToe.class
/Tripletss.class
/Utility.class
/harmonic.class
/windchill.class
