/Anagram.class
/Binary.class
/BinarySearchWordList.class
/BinaryToDecimal.class
/DayOfWeek.class
/Input.class
/Merge.class
/Monthlypayment.class
/PalindromeAnagramPrime.class
/Sqrt.class
/Twodarray.class
/Util.class
/Utility.class
/VendingMachine.class
/date.class
/file.class
/guessingNumber.class
/prime.class
/test.class
